aniso8601==1.2.1
appdirs==1.4.3
certifi==2017.4.17
chardet==3.0.3
click==6.7
configparser==3.5.0
Flask==0.12.2
Flask-Cors==3.0.2
Flask-RESTful==0.3.6
gunicorn==19.7.1
idna==2.5
itsdangerous==0.24
Jinja2==2.9.6
lxml==3.7.3
MarkupSafe==1.0
packaging==16.8
pymongo==3.4.0
pyparsing==2.2.0
python-crontab==2.2.2
python-dateutil==2.6.0
pytz==2017.2
requests==2.17.3
six==1.10.0
urllib3==1.21.1
Werkzeug==0.12.2
