{% extends 'base.html' %}
{% block static %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static',filename='css/github01.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='css/github02.css') }}>
    <link rel="stylesheet" href={{ url_for('static',filename='css/github.css') }}>
    <script src={{ url_for('static',filename='js/base64.js') }}></script>
    <script src={{ url_for('static',filename='js/highlight.min.js') }}></script>
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock static %}
{% block style %}
    <style>
        .items {
            margin-left: 10px;
            margin-right: 10px;
        }

        .items .el-card {
            margin-top: 10px;
            margin-bottom: 5px;
        }
    </style>

{% endblock %}

{% block template %}
    {{ super() }}

    <div id="detail" class="items">
        <el-card>
            <el-breadcrumb separator=" / ">
                <el-breadcrumb-item><a href="/view/tag/{{ results['tag'] }}">{{ results['tag'] }}</a>
                </el-breadcrumb-item>
                <el-breadcrumb-item>{{ results['filename'] }}</el-breadcrumb-item>
            </el-breadcrumb>
        </el-card>

        <el-row :gutter="20">
            <el-col :span="16">
                <el-card :body-style="{ padding: '0px' }">
                    <div slot="header" class="clearfix">
                <span style="line-height: 36px;"><i class="el-icon-share"
                                                    style="margin-right: 4px;"></i> <a
                        href="https://github.com/{{ results['project'] }}" target="_blank">涉密项目</a> </span>

                        <a href="https://github.com/{{ results['project'] }}/search?utf8=✓&q=pass OR password OR passwd OR pwd OR smtp OR database"
                           target="_blank">
                            <i class="el-icon-view" style="float: right;"></i>

                        </a>

                    </div>
                    <div style="padding: 14px;">
                        <div class="code-list" id="codelist">
                            {{ results['detail'].replace('$','').replace('href="','target="_blank" href="https://github.com')|safe }}
                        </div>
                    </div>

                </el-card>
            </el-col>
            <el-col :span="8">
                <el-card :body-style="{ padding: '0px' }">
                    <div style="padding: 14px;">
                        <el-form ref="form" :model="form" label-width="80px">
                            <el-form-item label="是否安全">
                                <el-radio class="radio" v-model="form.security" :label=1>安全</el-radio>
                                <el-radio class="radio" v-model="form.security" :label=0>涉密</el-radio>
                            </el-form-item>
                            <el-form-item label="忽略仓库">
                                <el-radio class="radio" v-model="form.ignore" :label=1>忽略</el-radio>
                                <el-radio class="radio" v-model="form.ignore" :label=0>监控</el-radio>
                            </el-form-item>
                            <el-form-item label="备注">
                                <el-input type="textarea" v-model="form.desc">
                                </el-input>
                            </el-form-item>
                            <el-form-item>
                                <el-button type="primary" @click="dealLeakage(form)">确认</el-button>
                            </el-form-item>
                        </el-form>
                    </div>
                </el-card>
            </el-col>
        </el-row>
        <el-card :body-style="{ padding: '0px' }">
            <div slot="header" class="clearfix">
                <span style="line-height: 36px;"><i class="el-icon-document"
                                                    style="margin-right: 4px;"></i> <a href="{{ results['link'] }}"
                                                                                       target="_blank">涉密文件</a> </span>
            </div>

            <div style="padding: 14px;">
                <pre><code>${full_code}</code></pre>

            </div>
        </el-card>
    </div>

{% endblock template %}

{% block script %}
    <script>
        var leakage = new Vue({
            el: '#detail',
            data: {
                form: {
                    id: '{{ results['_id'] }}',
                    security: {{ results['security'] }},
                    project: '{{ results['project'] }}',
                    desc: Base64.decode('{{ results['desc'] }}'),
                    ignore: {{ results['ignore'] }}
                },
                full_code: Base64.decode('{{ results['code'] }}')
            },
            delimiters: ["${", "}"],
            methods: {
                dealLeakage(form) {
                    console.log(form);
                    fetch('/deal/leakage', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(leakage.form)
                    }).then(function (response) {
                        console.log(response);
                        if (response.ok) {
                            leakage.$message({
                                message: '处理完成',
                                type: 'success'
                            });
                            return response
                        } else {
                            var error = new Error(response.statusText);
                            error.response = response;
                            setting.$message.error('出错，已经存在');
                            throw error
                        }
                    });
                }
            }
        });
    </script>
{% endblock script %}
