{% extends 'base.html' %}
{% block static %}
    {{ super() }}
    <link rel="stylesheet" href={{ url_for('static',filename='css/nprogress.css') }}>
    <script src={{ url_for('static',filename='js/base64.js') }}></script>
    <script src={{ url_for('static',filename='js/timeago.js') }}></script>
    <script src={{ url_for('static',filename='js/nprogress.js') }}></script>
{% endblock static %}
{% block style %}
    <style>
        img {
            border-style: none;
        }

        .text {
            font-size: 10px;
        }

        .box-card {
            height: 70px;
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }
    </style>

{% endblock style %}
{% block template %}
    {{ super() }}

    <div id="results">
        <div v-for="leakage in leakages">
            <div class="text" v-for="result in leakage.results">

                <el-card class="box-card">
                    <el-button size="mini"><a :href="'/view/leakage/'+result._id" target="_blank">
                        <i class="el-icon-d-arrow-left"></i><i class="el-icon-more"></i><i
                            class="el-icon-d-arrow-right"></i> </a></el-button>
                    <el-tag type="success">${timeago().format(result.datetime, 'zh_CN')}</el-tag>

                    <el-tag type="gray"><a :href="'/view/tag/'+result.tag">${result.tag}</a></el-tag>

                    <el-tag type="success" v-if="result.security"><i class="el-icon-information"></i>
                        ${result.language}
                    </el-tag>
                    <el-tag type="danger" v-else="result.security==1"><i class="el-icon-information"></i>
                        ${result.language}
                    </el-tag>
                    <el-tag type="primary"><a target="_blank"
                                              :href="'https://github.com/'+result.project">${result.project}</a>
                    </el-tag>
                    <el-tag type="warning"><a target="_blank"
                                              :href="result.link">${result.filename.split('/').pop()}</a>
                    </el-tag>
                    <el-tag type="gray" v-if="result.desc">
                        ${Base64.decode(result.desc)}
                    </el-tag>

                </el-card>
            </div>
        </div>
        <div v-if="leakages.length===0">
            <el-row :gutter="20">
                <el-col :span="12" :offset="6">
                    <img src="{{ url_for('static', filename='img/feature-reliable.png') }}" width="500" height="300">
                </el-col>
            </el-row>

        </div>
    </div>

{% endblock template %}

{% block script %}
    <script>
        var results = new Vue({
            el: '#results',
            data: {
                api_url: '/view/leakages/all',
                leakages: ['1'],
            },
            delimiters: ["${", "}"],
            methods: {
                fetchRsData: function () {
                    NProgress.start();
                    var api_url = '/view/leakages/all';
                    if (document.URL.indexOf("/view/tag/") !== -1) {
                        var tag = document.URL.split('/')[5];
                        api_url = '/view/leakages/' + tag;
                    }
                    if (document.URL.indexOf("processing") !== -1) {
                        api_url = '/view/leakages/processing';
                    }
                    if (document.URL.indexOf("processed") !== -1) {
                        api_url = '/view/leakages/processed';
                    }
                    fetch(api_url).then(function (response) {
                        return response.json();
                    }).then(function (json) {

                        results.leakages = json.result;
                        NProgress.done();
                        if (results.leakages.length < 1) {
                            results.$message({
                                message: '暂无泄露',
                                duration: 3000,
                                type: 'success'
                            });
                        } else {
                            results.$message({
                                message: '加载成功',
                                duration: 3000,
                                type: 'success'
                            });
                        }

                    }).catch(function (ex) {
                        results.$message({
                            message: '服务异常,请刷新页面',
                            duration: 1000,
                            type: 'error'
                        });
                    });
                },

            },
            mounted: function () {
                let self = this;
                self.fetchRsData();
                self.$nextTick(function () {
                });
            }
        })
    </script>
{% endblock %}