{% extends 'base.html' %}
{% block static %}
    {{ super() }}
    <script src={{ url_for('static',filename='js/fetch.js') }}></script>
{% endblock static %}
{% block style %}
    <style>
        .tip a {
            text-decoration: none;
            line-height: 36px;
        }

        .setting-card {
            margin-left: 10px;
            margin-right: 10px;
        }

        .setting-card .el-card {
            margin-bottom: 5px;
        }


        .item {
            padding: 5px 0;
            margin-left: 10px;
            margin-right: 10px;
        }

        .item .el-tag {
            margin-top: 5px;
            margin-left: 10px;
            margin-right: 10px;
        }

        .button-new-tag {
            margin-top: 5px;
            margin-left: 10px;
            height: 24px;
            line-height: 22px;
            padding-top: 0;
            padding-bottom: 0;
        }

        .input-new-tag {
            margin-left: 10px;
            margin-right: 10px;
            width: 78px;
            margin-top: 5px;
            vertical-align: bottom
        }

        .input-new-tag .el-input__inner {
            height: 24px
        }
    </style>
{% endblock style %}
{% block template %}
    {{ super() }}
    <div id="setting" style="margin-top: 10px;">
        <el-tabs active-name="query" @tab-click="onClick">
            <el-tab-pane name="query">
                <span slot="label"><i class="el-icon-edit"></i> 关键词配置</span>
                <div class="setting-card">
                    <el-card>
                        <div slot="header">
                            <span class="tip"><i
                                    class="el-icon-information"></i> <a rel="noopener noreferrer" href="https://github.com/search/advanced"
                                                                        target="_blank">搜索语法</a></span>
                            <el-button style="float: right;" type="info" @click="dialogFormVisible = true">
                                <i class="el-icon-plus"></i>
                            </el-button>
                            <el-dialog title="添加" v-model="dialogFormVisible">
                                <el-form :model="form">
                                    <el-tooltip content="若存在，会覆盖已有值" placement="bottom">
                                        <el-form-item label="名称" :label-width="formLabelWidth">
                                            <el-input v-model="form.tag" auto-complete="off"></el-input>
                                        </el-form-item>
                                    </el-tooltip>
                                    <el-tooltip content="熟悉搜索语法可以提高监控效率: OR/AND/NOT" placement="bottom">
                                        <el-form-item label="关键字" :label-width="formLabelWidth">
                                            <el-input v-model="form.keyword" auto-complete="off"></el-input>
                                        </el-form-item>
                                    </el-tooltip>

                                </el-form>
                                <div slot="footer" class="dialog-footer">
                                    <el-button @click="dialogFormVisible = false">取 消</el-button>
                                    <el-button type="primary" @click="add_query(form)">确 定</el-button>
                                </div>
                            </el-dialog>
                        </div>

                        <el-table
                                v-loading.body="loading"
                                :data="tagstableData"
                                style="width: 100%"
                                stripe="true"
                                border="true"

                        >
                            <el-table-column
                                    prop="tag"
                                    label="名称"
                                    fixed="left"
                                    align="left"
                            >
                            </el-table-column>
                            <el-table-column
                                    label="关键字"
                                    fixed="right"
                                    align="left"
                            >
                                <template scope="scope">
                                    <span style="margin-left: 10px"><a
                                            rel="noopener noreferrer"
                                            :href="'https://github.com/search?o=desc&q='+scope.row.keyword+'&ref=searchresults&s=indexed&type=Code&utf8=%E2%9C%93'"
                                            target="_blank">${scope.row.keyword}</a></span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                    fixed="right"
                                    label="操作"
                                    width="100">
                                <template scope="scope">
                                    <el-button
                                            size="small"
                                            type="danger"
                                            @click="handleDelete(scope.$index, scope.row)">删除
                                    </el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-card>
                </div>
            </el-tab-pane>

            <el-tab-pane name="blacklist">
                <span slot="label"><i class="el-icon-menu"></i> 黑名单</span>
                <el-card class="item">
                    <el-tooltip content="项目名称若包含黑名单关键字，则不会抓取" placement="bottom-end">
                        <i class="el-icon-information"></i>
                    </el-tooltip>
                    <el-input
                            class="input-new-tag"
                            v-if="inputVisible"
                            v-model="inputValue"
                            ref="saveTagInput"
                            size="mini"
                            @keyup.enter.native="handleInputConfirm"
                            @blur="handleInputConfirm"
                    >
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput">添加</el-button>
                    <el-tag
                            :key="tag"
                            v-for="tag in dynamicTags"
                            :closable="true"
                            :close-transition="false"
                            @close="handleClose(tag)"
                    >
                        ${tag.keyword}
                    </el-tag>

                </el-card>
            </el-tab-pane>
            <el-tab-pane name="notice">
                <span slot="label"><i class="el-icon-message"></i> 告警管理</span>
                <el-card class="item">
                    <el-tooltip content="邮箱格式：username@domain.com" placement="bottom-end">
                        <i class="el-icon-information"></i>
                    </el-tooltip>
                    <el-input
                            class="input-new-tag"
                            v-if="inputVisible"
                            v-model="inputValue"
                            ref="saveTagInput"
                            size="mini"
                            @keyup.enter.native="handleInputNoticeConfirm"
                            @blur="handleInputNoticeConfirm"
                    >
                    </el-input>
                    <el-button v-else class="button-new-tag" size="small" @click="showInput">添加</el-button>
                    <el-tag
                            :key="tag"
                            v-for="tag in dynamicMail"
                            :closable="true"
                            :close-transition="false"
                            @close="handleNoticeClose(tag)"
                    >
                        ${tag.keyword}
                    </el-tag>

                </el-card>
            </el-tab-pane>

            <el-tab-pane name="cron">
                <span slot="label"><i class="el-icon-date"></i> 定时任务配置</span>
                <div class="setting-card">
                    <el-card>
                        <el-row :gutter="20">
                            <el-col :span="2">
                                时间间隔
                            </el-col>

                            <el-col :span="14">
                                <el-slider
                                        v-model="cron.every"
                                        :max=60
                                        :min=5
                                        :step=5
                                        show-stops
                                        show-input>
                                </el-slider>
                            </el-col>
                            <el-col :span="8">
                                <el-button @click="cronSet">确认</el-button>
                            </el-col>
                        </el-row>
                    </el-card>
                    <el-card>
                        <el-row :gutter="20">
                            <el-col :span="2">
                                爬取页数
                            </el-col>
                            <el-col :span="14">
                                <el-slider
                                        v-model="cron.page"
                                        :max=100
                                        :min=1
                                        :step=1
                                        show-input>

                                </el-slider>
                            </el-col>

                            <el-col :span="8">
                                <el-button @click="cronSet">确认</el-button>
                            </el-col>
                        </el-row>
                    </el-card>
                </div>


            </el-tab-pane>
        </el-tabs>

    </div>

{% endblock template %}

{% block script %}

    <script>
        var cron = {'every': 20, 'page': 1};
        var setting = new Vue({
                el: '#setting',
                data: {
                    dynamicTags: [],
                    dynamicMail: [],
                    inputVisible: false,
                    inputValue: '',
                    value8: '',
                    dialogFormVisible: false,
                    formLabelWidth: '120px',
                    cron: cron,
                    form: {
                        'tag': '',
                        'keyword': '',
                    },
                    tagstableData: [],
                    loading: true


                },
                delimiters: ["${", "}"],

                methods: {
                    onClick(e){

                        console.log(e.name);
                        if (e.name === 'query') {
                            this.fetchQuery()
                        }
                        if (e.name === 'blacklist') {
                            this.fetchblacklist()
                        }
                        if (e.name === 'notice') {
                            this.fetchNoticeList()
                        }
                        if (e.name === 'cron') {
                            this.fetchCron()
                        }
                    },
                    handleClose(tag) {
                        this.dynamicTags.splice(this.dynamicTags.indexOf(tag), 1);
                        fetch('/setting/blacklist', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(tag)
                        }).then(function (response) {
                            console.log(response);
                            if (response.ok) {
                                setting.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                return response
                            } else {
                                var error = new Error(response.statusText);
                                error.response = response;
                                setting.$message.error('出错，已经存在');
                                throw error
                            }
                        })
                    },
                    handleNoticeClose(tag) {
                        this.dynamicMail.splice(this.dynamicMail.indexOf(tag), 1);
                        fetch('/setting/notice', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(tag)
                        }).then(function (response) {
                            console.log(response);
                            if (response.ok) {
                                setting.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                return response
                            } else {
                                var error = new Error(response.statusText);
                                error.response = response;
                                setting.$message.error('出错，已经存在');
                                throw error
                            }
                        })
                    },

                    showInput() {
                        this.inputVisible = true;
                        this.$nextTick(_ => {
                            this.$refs.saveTagInput.$refs.input.focus();
                        });
                    },
                    handleInputNoticeConfirm() {
                        let inputValue = this.inputValue;
                        if (inputValue) {
                            this.dynamicMail.push({'keyword': inputValue});
                            fetch('/setting/notice', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({'keyword': inputValue})
                            }).then(function (response) {
                                console.log(response);
                                if (response.ok) {
                                    setting.$message({
                                        message: '添加成功',
                                        type: 'success'
                                    });
                                    return response
                                } else {
                                    var error = new Error(response.statusText);
                                    error.response = response;
                                    setting.$message.error('出错，已经存在');
                                    throw error
                                }
                            })
                        }
                        this.inputVisible = false;
                        this.inputValue = ''

                    },
                    handleInputConfirm() {
                        let inputValue = this.inputValue;
                        if (inputValue) {
                            this.dynamicTags.push({'keyword': inputValue});
                            fetch('/setting/blacklist', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({'keyword': inputValue})
                            }).then(function (response) {
                                console.log(response);
                                if (response.ok) {
                                    setting.$message({
                                        message: '添加成功',
                                        type: 'success'
                                    });
                                    return response
                                } else {
                                    var error = new Error(response.statusText);
                                    error.response = response;
                                    setting.$message.error('出错，已经存在');
                                    throw error
                                }
                            })
                        }
                        this.inputVisible = false;
                        this.inputValue = ''

                    },
                    cronSet(){
                        fetch('/setting/cron', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(setting.cron)
                        }).then(function (response) {
                            console.log(response);
                            if (response.ok) {
                                setting.$message({
                                    message: '修改成功',
                                    type: 'success'
                                });
                                setting.fetchCron();
                                return response
                            } else {
                                var error = new Error(response.statusText);
                                error.response = response;
                                setting.$message.error('出错，已经存在');
                                throw error
                            }
                        })
                    },
                    fetchCron: function () {
                        fetch('/setting/cron').then(function (response) {

                            return response.json();
                        }).then(function (json) {
                            setting.cron = json.result;
                            setting.loading = false;
                        }).catch(function (ex) {
                            console.log('parsing failed', ex)
                        });
                    },
                    fetchQuery: function () {
                        fetch('/setting/query').then(function (response) {
                            return response.json();
                        }).then(function (json) {
                            setting.tagstableData = json.result;
                            setting.loading = false;
                        }).catch(function (ex) {
                            console.log('parsing failed', ex)
                        });
                    },
                    fetchblacklist: function () {
                        fetch('/setting/blacklist').then(function (response) {
                            setting.dynamicTags = [];
                            return response.json();
                        }).then(function (json) {
                            setting.dynamicTags = json.result;
                            setting.loading = false;
                        }).catch(function (ex) {
                            console.log('parsing failed', ex)
                        });
                    },
                    fetchNoticeList: function () {
                        fetch('/setting/notice').then(function (response) {
                            setting.dynamicMail = [];
                            return response.json();
                        }).then(function (json) {
                            setting.dynamicMail = json.result;
                            setting.loading = false;
                        }).catch(function (ex) {
                            console.log('parsing failed', ex)
                        });
                    },
                    handleDelete(index, row) {
                        fetch('/setting/query', {
                            method: 'DELETE',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(row)
                        }).then(function (response) {
                            console.log(response);
                            if (response.ok) {
                                setting.$message({
                                    message: '删除成功',
                                    type: 'success'
                                });
                                setting.fetchQuery();
                                return response
                            } else {
                                var error = new Error(response.statusText);
                                error.response = response;
                                setting.$message.error('出错');
                                throw error
                            }
                        })
                    },
                    add_query(form) {
                        fetch('/setting/query', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(form)
                        }).then(function (response) {
                            console.log(response);
                            if (response.ok) {
                                setting.$message({
                                    message: '添加成功',
                                    type: 'success'
                                });
                                setting.dialogFormVisible = false;
                                setting.fetchQuery();
                                return response
                            } else {
                                var error = new Error(response.statusText);
                                error.response = response;
                                setting.$message.error('出错，已经存在');
                                throw error
                            }
                        })
                    }
                },
                mounted: function () {
                    let self = this;
                    self.fetchQuery();
                    self.$nextTick(function () {
                    });
                }

            })
        ;
    </script>

{% endblock script %}